.popup__input-container {
  width: calc(100% - 36px * 2);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0;
  border: 0;
}

@media screen and (max-width: 700px) {
  .popup__input-container {
    width: calc(100% - 22px * 2);
  }
}
