.profile__button_action_edit {
  width: 24px;
  height: 24px;
  background: url(../../../../images/button-edit.svg) no-repeat center;
  border: 1px solid #FFF;
  box-sizing: border-box;
  margin-left: 18px;
}

